nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    margin-left: 0.75rem;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    margin-bottom: .5rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem .5rem 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    background-color: rgb(255, 165, 0);
    border: 1px solid rgb(255, 125, 0);
    color: #333;
}

aside p {
    padding: .125rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(228, 228, 228);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}